.content
  #ui
    %ul.todos(v-for='todo in todos')
      %li.todo
        .todo__title {{ todo.title }} 
        .todo__value {{ todo.value }} 
        .todo__value {{ format_value(todo) }} 
        .todo__option {{ todo.option }}
