.content
  #ui
    %h1 Todos
    %ul.todos
      %todo-component{'v-for' => 'todoItem in todos', 'v-bind:todo-prop' => 'todoItem', 'v-on:delete-todo' => 'deleteTodo'}
    %todo-form{'v-on:new-todo-submitted' => 'addTodo'}

%template#todo-template
  %li.todo
    .todo__title {{ todoProp.title }} 
    .todo__value {{ formatValue(todoProp) }} 
    %a.todo__delete{'v-on:click' => 'deleteTodo(todoProp)'} delete
    %a.todo__edit edit

%template#todo-form
  %form{"v-on:submit.prevent" => 'todoSubmit'}
    %input(v-model="newTodo.title")
    %input(v-model="newTodo.value")
    %select(v-model="newTodo.option")
      %option(value="dollars") Dollars
      %option(value="pounds") Pounds
    %input(type='submit')

