.outer-container
  #ui.content
    %h1 Todos
    .todos{'v-show' => 'todos.length != 0', style: 'display:none'}
      %label(for='filter') Filter:
      %select#filter(v-model='selectedFilter')
        %option(v-for='filter in filters' v-bind:value='filter') {{filter}}
      %label(for='sort') Sort:
      %select#sort(v-model='selectedSortMethod')
        %option(v-for='sortMethod in sortMethods' v-bind:value='sortMethod') {{sortMethod}}
      %button(v-on:click='loadNewCollection') Load new collection
      %ul
        %todo-show{'v-for' => 'todoItem in filteredTodos', 'v-bind:todoprop' => 'todoItem', 'v-on:delete-todo' => 'deleteTodo'}
      %h2 Add a new todo
      %todo-form{'v-on:form-submitted' => 'addTodo', 'v-bind:todo' => '{}' , 'v-bind:newtodo' => 'true'}

%template#todo-template
  %li.todo{'v-show' => '!edit'}
    .todo__title {{ todoprop.title }} 
    .todo__value {{ formatValue(todoprop) }} 
    %a.todo__delete{'v-on:click' => 'deleteTodo(todoprop)'} delete
    %a.todo__edit{'v-on:click' => 'toggleEdit'} edit
  %todo-form{'v-show' => 'edit', 'v-on:form-submitted' => 'updateTodo', 'v-bind:todo' => 'todoprop'}

%template#todo-form
  %form{"v-on:submit.prevent" => 'todoSubmit'}
    %input(v-model="todo.title")
    %input(v-model="todo.value")
    %select(v-model="todo.option")
      %option(value="dollars") Dollars
      %option(value="pounds") Pounds
    %input(type='submit')

