.content
  #ui
    %h1 Todos
    %ul.todos(v-for='todoItem in todos')
      %todo{'v-bind:todoprop' => 'todoItem'}
    %todo-form{'v-on:new-todo-submitted' => 'addTodo'}

%template#todo
  %li.todo
    .todo__title {{ todoprop.title }} 
    .todo__value {{ format_value(todoprop) }} 

%template#todo-form
  %form{"v-on:submit.prevent" => 'todoSubmit'}
    %input(v-model="newTodo.title")
    %input(v-model="newTodo.value")
    %select(v-model="newTodo.option")
      %option(value="dollars") Dollars
      %option(value="pounds") Pounds
    %input(type='submit')

